In [1]:
import pandas as pd

In [4]:
import os

path = os.getcwd()
pathF = 'C:\\workspaces\\02_Crawling_TeamProject\\theBoram4Jo\\data'
path

'D:\\workspace\\02_Crawling_Project\\theBoram4Jo\\workbook'

In [6]:
result = pd.read_csv('D:/workspace/02_Crawling_Project/theBoram4Jo/data/방위사업청_국내조달 경쟁 입찰결과_20241031.csv', encoding='cp949')

C:\Users\user\AppData\Local\Temp\ipykernel_7044\4258540113.py:2: DtypeWarning: Columns (38,39,40,41,42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  start = pd.read_csv('D:/workspace/02_Crawling_Project/theBoram4Jo/data/방위사업청_국내조달 경쟁 입찰공고_20241031.csv', encoding='cp949')

,입찰공고번호,입찰공고차수,참조공고번호,참조공고차수,나라장터공고여부,입찰공고명,입찰공고상태명,입찰공고일자,업무구분명,공동계약여부,...,참가가능지역명,공종및면허제한그룹1,공종및면허제한그룹2,공종및면허제한그룹3,공종및면허제한그룹4,공종및면허제한그룹5,공종및면허제한그룹6,공종및면허제한그룹7,공종및면허제한그룹8,입찰공고URL
0,HCL0100,1,2017HCL010045347,1,Y,18년 생활계폐기물 처리 용역,긴급공고,2017-12-07,용역,N,...,충청북도,폐기물중간처분업(지정폐기물외 폐기물-소각전문),폐기물종합처분업,NaN,NaN,NaN,NaN,NaN,NaN,http://www.d2b.go.kr/psb/bid/serviceBidAnnounc...

In [12]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74678 entries, 0 to 74677
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   입찰공고번호         74678 non-null  object
 1   입찰공고차수         74678 non-null  int64
 2   입찰공고명          74678 non-null  object
 3   업무구분명          74678 non-null  object
 4   계약체결형태명        74678 non-null  object
 5   계약체결방법명        74678 non-null  object
 6   낙찰자결정방법명       74678 non-null  object
 7   적격심사여부         74678 non-null  object
 8   공고기관명          74678 non-null  object
 9   공고기관코드         74678 non-null  object
 10  수요기관명          74678 non-null  object
 11  수요기관코드         74678 non-null  object
 12  낙찰하한율          63901 non-null  float64
 13  예정가격           51840 non-null  float64
 14  기초금액           73064 non-null  float64
 15  추정가격           74678 non-null  float64
 16  개찰일자           74678 non-null  object
 17  개찰시각           74677 non-null  object
 18  개찰결과구분명        74678 non-null  object
 19  최종낙찰금액         51994 non-null  float64
 20  최종낙찰율          51840 non-null  float64
 21  최종낙찰일자         51994 non-null  object
 22  최종낙찰업체명        51994 non-null  object
 23  최종낙찰업체대표자명     51994 non-null  object
 24  최종낙찰업체담당자명     51654 non-null  object
 25  최종낙찰업체사업자등록번호  51994 non-null  object
 26  최종낙찰업체주소       51994 non-null  object
dtypes: float64(6), int64(1), object(20)
memory usage: 15.4+ MB

In [15]:
len(result.최종낙찰업체명.unique())

13757

##### 약 오만건의 결과중 최종낙찰업체 종류개수 13757 -> 한 업체 여러번 낙찰 가능성

#### 연결시 새 컬럼 생성(연도+공고번호)

In [52]:
연도공고번호 = []

for a, i in zip(result.개찰일자, result.입찰공고번호):
    b = a.split('-')
    c = b[0]
    연도공고번호.append(c + i)

result['연도공고번호'] = 연도공고번호

In [53]:
# result.head()

In [54]:
result_job = result[['연도공고번호','입찰공고명', '업무구분명', '낙찰자결정방법명', '계약체결방법명', '최종낙찰업체명','개찰일자','최종낙찰일자', '예정가격', '최종낙찰금액']].copy()
result_job.head()

,연도공고번호,입찰공고명,업무구분명,낙찰자결정방법명,계약체결방법명,최종낙찰업체명,개찰일자,최종낙찰일자,예정가격,최종낙찰금액
0,2016MHD0102,상륙기동헬기 조종시뮬레이터 선행연구,용역,협상,협상에의한계약(서류),재단법인 한국군사문제연구원,2016-01-11,2016-02-11,30000000.0,28000000.0
1,2016MHD0130,특수작전용 유탄발사기사업 선행연구,용역,협상,협상에의한계약(서류),사단법인 안보경영연구원,2016-01-05,2016-01-06,74092000.0,71000000.0
2,2016UMM0003,00부대 물절약 투자대행사업(WASCO 15-A047),용역,협상,협상에의한계약(전자),주식회사 도화엔지니어링,2016-01-29,2016-01-29,667000000.0,535467000.0
3,2016UMM0004,00부대 물절약 투자대행사업(WASCO 15-A048),물품,협상,협상에의한계약(전자),NaN,2016-02-03,NaN,NaN,NaN
4,2016UMM0860,16년 음향 영상장비 유지보수 용역,용역,적격심사제,일반경쟁,주식회사 케이원,2016-01-05,2016-01-05,456378904.0,396923000.0

#### 예정가격과 최종낙찰금

In [55]:
result_job['낙찰금차'] = result_job['최종낙찰금액'] - result_job['예정가격']
result_job['하락비율'] = result_job['최종낙찰금액'] / result_job['예정가격']

In [56]:
result_job.head()

,연도공고번호,입찰공고명,업무구분명,낙찰자결정방법명,계약체결방법명,최종낙찰업체명,개찰일자,최종낙찰일자,예정가격,최종낙찰금액,낙찰금차,하락비율
0,2016MHD0102,상륙기동헬기 조종시뮬레이터 선행연구,용역,협상,협상에의한계약(서류),재단법인 한국군사문제연구원,2016-01-11,2016-02-11,30000000.0,28000000.0,-2000000.0,0.933333
1,2016MHD0130,특수작전용 유탄발사기사업 선행연구,용역,협상,협상에의한계약(서류),사단법인 안보경영연구원,2016-01-05,2016-01-06,74092000.0,71000000.0,-3092000.0,0.958268
2,2016UMM0003,00부대 물절약 투자대행사업(WASCO 15-A047),용역,협상,협상에의한계약(전자),주식회사 도화엔지니어링,2016-01-29,2016-01-29,667000000.0,535467000.0,-131533000.0,0.802799
3,2016UMM0004,00부대 물절약 투자대행사업(WASCO 15-A048),물품,협상,협상에의한계약(전자),NaN,2016-02-03,NaN,NaN,NaN,NaN,NaN
4,2016UMM0860,16년 음향 영상장비 유지보수 용역,용역,적격심사제,일반경쟁,주식회사 케이원,2016-01-05,2016-01-05,456378904.0,396923000.0,-59455904.0,0.869722

In [51]:
up = (result_job['낙찰금차'] > 0).sum() # 예정가보다 최종낙찰금이 상승한경우(아주소수)
down = (result_job['낙찰금차'] < 0).sum() # 예정가보다 최종낙찰금이 하락한경우
print(up)
print(down)

29
51539

#### 물품 vs 용역 비교

In [61]:
# '업무구분명'별로 '최종낙찰금액'의 합계 구하기
result_job.groupby('업무구분명')['최종낙찰금액'].count()

업무구분명
물품    42685
용역     9309
Name: 최종낙찰금액, dtype: int64

In [62]:
result_job.groupby('업무구분명')['최종낙찰금액'].sum()

업무구분명
물품    2.056181e+13
용역    3.697169e+12
Name: 최종낙찰금액, dtype: float64

In [63]:
result_job.groupby('업무구분명')['최종낙찰금액'].mean() # 건당 최종낙찰금 물품이 더 높음

업무구분명
물품    4.817104e+08
용역    3.971607e+08
Name: 최종낙찰금액, dtype: float64

In [64]:
result_job.groupby('업무구분명')['하락비율'].mean() # 예상금액에서 최종낙찰금으로 하락한 정도는 둘다 비슷

업무구분명
물품    0.876652
용역    0.872330
Name: 하락비율, dtype: float64

#### 낙찰에 소요된 기간

In [65]:
result_job['최종낙찰일자'] = pd.to_datetime(result_job['최종낙찰일자'])
result_job['개찰일자'] = pd.to_datetime(result_job['개찰일자'])

In [66]:
# 새 컬럼 생성 (개찰일 ~ 낙찰일 소요기간)
result_job['낙찰기간'] = result_job['최종낙찰일자'] - result_job['개찰일자']

In [73]:
result_job.낙찰기간.describe() # 평균 19시간 소요..? / 편차가 큼 -> 건별로 소요기간이 상이함(넓게퍼짐)

count                         51994
mean      0 days 19:31:19.555333307
std      11 days 06:45:07.113232398
min              -11 days +00:00:00
25%                 0 days 00:00:00
50%                 0 days 00:00:00
75%                 0 days 00:00:00
max              1629 days 00:00:00
Name: 낙찰기간, dtype: object

#### 낙찰 방법별 집계

In [74]:
result_job.낙찰자결정방법명.unique()

array(['협상', '적격심사제', '최저가격제'], dtype=object)

In [77]:
result_job.groupby('낙찰자결정방법명')['최종낙찰금액'].describe()

,count,mean,std,min,25%,50%,75%,max
낙찰자결정방법명,,,,,,,,
적격심사제,43584.0,2.467994e+08,4.171196e+09,0.0,16882752.5,51649077.0,1.419629e+08,7.050000e+11
최저가격제,6668.0,3.447837e+08,2.616320e+09,0.0,6871625.0,23016233.5,5.200000e+07,1.120000e+11
협상,1742.0,6.431373e+09,4.851440e+10,0.0,40053500.0,79000000.0,4.237500e+08,1.101950e+12

## 입찰공고

In [7]:
start = pd.read_csv('D:/workspace/02_Crawling_Project/theBoram4Jo/data/방위사업청_국내조달 경쟁 입찰공고_20241031.csv', encoding='cp949')
start.head(1)

C:\Users\user\AppData\Local\Temp\ipykernel_7044\4064137855.py:1: DtypeWarning: Columns (38,39,40,41,42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  start = pd.read_csv('D:/workspace/02_Crawling_Project/theBoram4Jo/data/방위사업청_국내조달 경쟁 입찰공고_20241031.csv', encoding='cp949')

,입찰공고번호,입찰공고차수,참조공고번호,참조공고차수,나라장터공고여부,입찰공고명,입찰공고상태명,입찰공고일자,업무구분명,공동계약여부,...,참가가능지역명,공종및면허제한그룹1,공종및면허제한그룹2,공종및면허제한그룹3,공종및면허제한그룹4,공종및면허제한그룹5,공종및면허제한그룹6,공종및면허제한그룹7,공종및면허제한그룹8,입찰공고URL
0,HCL0100,1,2017HCL010045347,1,Y,18년 생활계폐기물 처리 용역,긴급공고,2017-12-07,용역,N,...,충청북도,폐기물중간처분업(지정폐기물외 폐기물-소각전문),폐기물종합처분업,NaN,NaN,NaN,NaN,NaN,NaN,http://www.d2b.go.kr/psb/bid/serviceBidAnnounc...

In [8]:
start.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112236 entries, 0 to 112235
Data columns (total 47 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   입찰공고번호        112236 non-null  object
 1   입찰공고차수        112236 non-null  int64
 2   참조공고번호        112236 non-null  object
 3   참조공고차수        112236 non-null  int64
 4   나라장터공고여부      112236 non-null  object
 5   입찰공고명         112236 non-null  object
 6   입찰공고상태명       112236 non-null  object
 7   입찰공고일자        112236 non-null  object
 8   업무구분명         112236 non-null  object
 9   공동계약여부        112236 non-null  object
 10  공동수급방식명       4286 non-null    object
 11  전자입찰여부        112236 non-null  object
 12  계약체결형태명       112236 non-null  object
 13  계약체결방법명       112236 non-null  object
 14  낙찰자결정방법명      112234 non-null  object
 15  공고기관명         112236 non-null  object
 16  공고기관코드        112236 non-null  object
 17  공고기관담당자부서명    112236 non-null  object
 18  공고기관담당자명      112236 non-null  object
 19  수요기관명         112236 non-null  object
 20  수요기관코드        112236 non-null  object
 21  수요기관담당자부서명    112236 non-null  object
 22  수요기관담당자명      112236 non-null  object
 23  설명회실시여부       112236 non-null  object
 24  설명회실시일자       2823 non-null    object
 25  설명회실시시각       2780 non-null    object
 26  설명회실시장소       2877 non-null    object
 27  입찰참가자격등록마감일자  112236 non-null  object
 28  입찰참가자격등록마감시각  112236 non-null  object
 29  입찰마감일자        112236 non-null  object
 30  입찰마감시각        112236 non-null  object
 31  개찰일자          112236 non-null  object
 32  개찰시각          112236 non-null  object
 33  개찰장소          112236 non-null  object
 34  예산금액          102572 non-null  float64
 35  배정예산금액(설계금액)  112236 non-null  float64
 36  지역제한여부        112236 non-null  object
 37  참가가능지역명       15789 non-null   object
 38  공종및면허제한그룹1    19603 non-null   object
 39  공종및면허제한그룹2    7589 non-null    object
 40  공종및면허제한그룹3    5056 non-null    object
 41  공종및면허제한그룹4    4108 non-null    object
 42  공종및면허제한그룹5    3174 non-null    object
 43  공종및면허제한그룹6    909 non-null     object
 44  공종및면허제한그룹7    228 non-null     object
 45  공종및면허제한그룹8    72 non-null      object
 46  입찰공고URL       112236 non-null  object
dtypes: float64(2), int64(2), object(43)
memory usage: 40.2+ MB

In [9]:
start2 = start[['참조공고번호','입찰공고명', '업무구분명', '공동계약여부', '공동수급방식명', '계약체결형태명','계약체결방법명','낙찰자결정방법명', '공고기관명', '공고기관코드', '수요기관명', '수요기관코드','설명회실시여부']].copy()
start2.head()

,참조공고번호,입찰공고명,업무구분명,공동계약여부,공동수급방식명,계약체결형태명,계약체결방법명,낙찰자결정방법명,공고기관명,공고기관코드,수요기관명,수요기관코드,설명회실시여부
0,2017HCL010045347,18년 생활계폐기물 처리 용역,용역,N,NaN,총액계약,제한경쟁,적격심사제,공군사관학교,7002962,공군사관학교,7002962,N
1,2017HCL010045347,18년 생활계폐기물 처리 용역,용역,N,NaN,총액계약,제한경쟁,적격심사제,공군사관학교,7002962,공군사관학교,7002962,N
2,2017HCL010648616,18년 생도학사관리통합체계 유지보수 용역,용역,N,NaN,총액계약,제한경쟁,적격심사제,공군사관학교,7002962,공군사관학교,7002962,N
3,2017HDK003135395,영내관사/간부숙소 계단 청소 용역,용역,N,NaN,총액계약,제한경쟁,적격심사제,공군제11전투비행단,ZD00202,공군제11전투비행단,ZD00202,N
4,2017HDP005938107,부대비품 기통반 기지강당 메인스피커 등 8종 구매,물품,N,NaN,총액계약,일반경쟁,최저가격제,공군제19전투비행단,ZD00189,공군제19전투비행단,ZD00189,N

In [23]:
start2.groupby('공동계약여부').describe()
# 대부분 단일계약

        참조공고번호                                 입찰공고명                           \
         count unique               top freq   count unique          top freq
공동계약여부
N       107950  75920  2022UAZ001221597    8  107950  62660  공기청정기 필터 구매   29
Y         4286   2947  2022MDD002201673    6    4286   2121          콩나물   13

         업무구분명         ...    수요기관명         수요기관코드                         \
         count unique  ...      top   freq   count unique      top   freq
공동계약여부                 ...
N       107950      2  ...  국군재정관리단  15584  107950    207  ZD00303  15584
Y         4286      2  ...    방위사업청   1012    4286    129  1690000   1058

       설명회실시여부
         count unique top    freq
공동계약여부
N       107950      2   N  105286
Y         4286      2   N    4073

[2 rows x 48 columns]

In [34]:
# 공동계약 테이블
ntgt = start2[start2['공동계약여부'] == 'Y']

# 
ntgt.groupby('업무구분명').describe()

      참조공고번호                               입찰공고명                               \
       count unique               top freq count unique              top freq
업무구분명
물품      1782   1318  2019MDS003430658    5  1782    810              콩나물   13
용역      2504   1629  2022MDD002201673    6  2504   1315  24년 음식물쓰레기 처리용역   12

      공동계약여부         ...    수요기관명       수요기관코드                       설명회실시여부  \
       count unique  ...      top  freq  count unique      top  freq   count
업무구분명                ...
물품      1782      1  ...    방위사업청  1003   1782     61  1690000  1003    1782
용역      2504      1  ...  국군재정관리단   585   2504    120  ZD00303   585    2504


      unique top  freq
업무구분명
물품         2   N  1691
용역         2   N  2382

[2 rows x 48 columns]

In [ ]:
공고기관명
해군군수사령부      
육군군수사령부      
공군군수사령부       
국군의무사령부       
해군제3함대사령부      
공군교육사령부        
육군교육사령부        
육군인사사령부        
해군작전사령부        
특수전사령부         
수도방위사령부        
제5군단사령부        
# 유찰 등 결과별 개수

# 낙찰 ~ 계약